@{
    ViewData["Title"] = "Home Page";
}
@* Home Page, simply welcomes user to the app. There is a card with an image displayed on this page. *@
    <div class="text-center">
        <h1 class="display-4">Welcome To Shelter Hub!</h1>

        <div class="card" style="width: 80%; margin: 20px auto;">
            <img src="https://i.imgur.com/QoQiQFJ.jpg" class="card-img-top" alt="hopeful image">
            
        </div>


    </div>
    

