@model ShelterHub.Models.ViewModels.CreateClientStepViewModel

@{
    ViewData["Title"] = "Create";
}
@* This is the view to Create a ClientStep. From the Steps Index view, the user can click on "Add Step to Client" and will be directed to this view. The user can then choose which client to select from a drop down box. The user can input a start date for the step as well. The step's name will be displayed at the top of the page to remind the user which step they are assigning to the client. *@
<h1>Create</h1>

<h4>Client Step</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <h2>@ViewBag.StepId</h2>
            <input type="hidden" asp-for="ClientStep.StepId" />

            <div class="form-group">
                <label asp-for="ClientStep.ClientId" class="control-label">Client Name</label>
                <select asp-for="ClientStep.ClientId" class="form-control" asp-items="@Model.ClientNameOptions"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClientStep.DateStarted" class="control-label"></label>
                <input asp-for="ClientStep.DateStarted" class="form-control" />
                <span asp-validation-for="ClientStep.DateStarted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Steps" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
