@model IEnumerable<ShelterHub.Models.ClientStep>

@{
    ViewData["Title"] = "Index";
}

<h1>Client's Steps</h1>


<table class="table">
    @foreach (var ClientStep in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                @if (ClientStep.DateCompleted == null)

                {
                    <br />
                    <dt class="card-title">
                        @Html.DisplayFor(modelItem => ClientStep.Step.StepName)
                    </dt>
                    <p class="card-text">(Current)</p>
                }
                else

                {
                    <br />
                    <dt class="card-title">
                        @Html.DisplayFor(modelItem => ClientStep.Step.StepName)
                    </dt>
                    <p class="card-text">(Completed)</p>
                }



                <a asp-controller="ClientSteps" asp-route-id="@ClientStep.Id" asp-action="Edit">Edit</a>
                <br />
            </div>
        </div>
    }
</table>
