@model IEnumerable<ShelterHub.Models.ClientStep>

@{
    ViewData["Title"] = "Index";
}
@* The user is never directed to this view. Instead, they are directed to the Client/ClientWithSteps view. *@
<h1>Client's Steps</h1>


<table class="table">
    @foreach (var ClientStep in Model)
    {
        
                @if (ClientStep.DateCompleted == null)

                {
                    <div class="card green-background" style="width: 18rem;">
                        <div class="card-body">
                            <br />
                            <dt class="card-title">
                                @Html.DisplayFor(modelItem => ClientStep.Step.StepName)
                            </dt>
                            <p class="card-text">(Current**)</p>
                        </div>
                    </div>
                }
                else

                {
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <br />
                            <dt class="card-title">
                                @Html.DisplayFor(modelItem => ClientStep.Step.StepName)
                            </dt>
                            <p class="card-text">(Completed)</p>
                        </div>
                    </div>
                }



                <a asp-controller="ClientSteps" asp-route-id="@ClientStep.Id" asp-action="Edit">Edit</a>
                <br />

                }
</table>
